.container{
    
    margin-left: 215px;
}
p{
    margin-left: 40px;
}

.btn-primary{
    margin-left: 40px;
}
.mt-3{
    margin-left: 40px;
    
}
.btn-danger{
    margin-top: 5px;
}
.pagination{
    margin-left: 40%;
}
.close {
    position: absolute;
    left: 740px;
    top: 10px;
}
