.container{
    margin-top: 120px;
    margin-left: 215px;
}

.btn-primary{
    margin-left: 40px;
}
.mt-3{
    margin-left: 40px;
    
}
.btn-danger{
    margin-top: 10px;
}
.pagination{
    margin-left: 40%;
}
.disabled-link {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}


